/* #### BASE #####*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #150e56;
    color: #fff;
    filter: saturate(1);
}

.hidden {
    display: none;
}