/*#### Canvas Modal ####*/

.canvas-editor {
    position: absolute;
    top: 100px;
    background-color: #fff;
    height: 80vh;
    /* height Will defined by elements inside */
    width: 100%;
    transform: translateY(-150%);
    transition: transform .3s;
    z-index: 0;
}