/*#### Canvas Modal ####*/

canvas {
    border: 1px solid #000;
}

.canvas-editor, .saved-memes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transform: translateY(-250%);
    z-index: 1;
}

.editor-container {
    padding: 50px;
    flex-direction: column;
}

.canvas-options>* {
    margin-bottom: 20px;
}

.canvas-options input {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.5em;
}

.line-options>*, .text-dicoration>* {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
}

.line-options {
    grid-template-columns: repeat(3, 50px);
}

.text-dicoration {
    grid-template-columns: repeat(5, 50px);
    gap: 15px;
}

select[name="font-options"] {
    width: 13em;
    grid-column: 1/span 3;
}

.control-editor-btns a {
    text-decoration: none;
}

.control-editor-btns>*:not(:last-child) {
    margin-inline-end: 10px;
}

.text-move-btns>* {
    font-size: 2em;
    width: 50px;
    height: 50px;
}

.save-modal {
    font-size: 2em;
}

@media (min-width: 600px) {
    .editor-container {
        flex-direction: column;
    }
}

@media (min-width: 800px) {
    .editor-container {
        flex-direction: row;
    }
}