/*#### Canvas Modal ####*/

.canvas {
    position: absolute;
    top: 100px;
    background-color: #fff;
    height: 80vh;
    width: 100%;
    transform: translateX(-150%);
    transition: transform .6s;
    z-index: 1;
}

.show {
    transform: translateX(0);
}