/*#### Canvas Modal ####*/

canvas {
    border: 1px solid #000;
}

.canvas-editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transform: translateY(-250%);
    z-index: 1;
}

.editor-container {
    padding: 50px;
    flex-direction: column;
}

.canvas-options>* {
    margin-bottom: 20px;
}

.canvas-options input {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.5em;
}

.line-options>*, .text-dicoration>* {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
}

.line-options>* {
    margin-inline-end: 10px;
}

.text-dicoration {
    grid-template-columns: repeat(5, 50px);
    gap: 15px;
}

select[name="font-options"] {
    width: 9.375em;
    grid-column: 1/span 3;
}

.control-editor-btns>* {
    font-size: 1.3em;
    margin-inline-end: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 2px;
    cursor: pointer;
    flex-wrap: wrap;
}

.control-editor-btns>*:hover {
    background-color: #150e56;
    color: #fff;
}

.control-editor-btns a {
    text-decoration: none;
}

.text-move-btns>* {
    font-size: 2em;
    width: 50px;
    height: 50px;
}

@media (min-width: 600px) {
    .editor-container {
        flex-direction: column;
    }
}

@media (min-width: 850px) {
    .editor-container {
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .editor-container {
        flex-direction: row;
    }
}