/*#### Canvas Modal ####*/

canvas {
    border: 1px solid #000;
    width: 500px;
    height: 450px;
}

.canvas-editor, .saved-memes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: #fff;
    transform: translateY(-250%);
    transition: transform .5s ease-in;
    z-index: 1;
}

.editor-container {
    padding: 50px;
}

.canvas-options {
    height: 450px;
}

.canvas-options input {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.5em;
}

.line-options>*, .text-dicoration>* {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
}

.line-options>* {
    margin-inline-end: 10px;
}

.text-dicoration {
    grid-template-columns: repeat(5, 50px);
    gap: 15px;
}

select[name="font-options"] {
    width: 9.375em;
    grid-column: 1/span 3;
}

.control-editor-btns>* {
    font-size: 1.5em;
    margin-inline-end: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 2px;
    cursor: pointer;
    transform: translate 0.3s, ease-in;
}

.control-editor-btns>*:hover {
    background-color: #150e56;
    color: #fff;
}

.control-editor-btns a {
    text-decoration: none;
}

.text-move-btns>* {
    font-size: 2em;
    width: 50px;
    height: 50px;
}