/*#### Filter ####*/

.filter label {
    margin: 5px 0;
    flex-grow: 1;
    font-size: 1.3rem;
}

.filter-list {
    flex-grow: 2;
}

.filter {
    padding: 0 4px;
    flex-wrap: wrap;
}

.filter-btn {
    margin: 0.5em 0;
    padding: 5px;
    height: 2.5rem;
    border-left: #fff 1px solid;
    font-family: Open_Sans, sans-serif;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.filter-menu-btn {
    font-size: 1.3em;
    margin: 10px;
    padding: 5px;
}

.currFilterBtn {
    border-bottom: 3px solid #ca5cd6;
    color: #ca5cd6;
}

@media (max-width: 800px) {
    .filter-menu-btn {
        display: block;
    }
    .filter-list {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 8.625rem;
        height: 100%;
        width: 40%;
        background-color: #fff;
        border: 1px solid #ebebeb;
        transform: translateY(-200%);
        transition: transform .6s;
        z-index: 1;
    }
    .filter-btn {
        margin: 0;
    }
    .filter-list>*:not(:last-child) {
        border-bottom: 1px solid #000;
    }
    .filter-list>* {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .filter {
        justify-content: center;
        align-items: center;
    }
    .filter label {
        flex-grow: 0;
        margin: 10px;
    }
}