/*#### header ####*/

.main-header {
    border-bottom: 5px solid #463ab4;
}

.logo {
    font-family: HashedBrowns, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    flex-grow: 2;
    text-shadow: #1b1b1b 2px 2px 1px;
    margin-inline-start: 10px;
    margin-bottom: 0.5em;
}

.logo::before {
    content: url("../icons/camera-logo.png");
    position: relative;
    top: 0.625rem;
    left: -8px;
}

.nav-btns {
    flex-grow: 1;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: Open_Sans, sans-serif;
}

.nav-btns>* {
    height: 5.625rem;
    border-left: 1px solid #000;
    flex-basis: 50%;
}

.nav-btns>:last-child {
    border-right: 1px solid #000;
}

.toggle-menu-btn {
    position: relative;
    top: 0;
    right: 0;
    outline: none;
    font-size: 3em;
    width: 2em;
    border: none;
}

@media (max-width: 768px) {
    .toggle-menu-btn {
        display: block;
    }
    .nav-btns {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 5.625rem;
        height: 30vh;
        width: 40%;
        border: 1px solid #ebebeb;
        transform: translateY(-200%);
        transition: transform .6s;
    }
    .nav-btns>*:not(:last-child) {
        border-bottom: 1px solid #000;
    }
    .nav-btns>* {
        width: 100%;
    }
}