/*#### Main images ####*/

.filter label {
    flex-grow: 1;
    font-size: 1.5rem;
}

.filter-list {
    flex-grow: 2;
}

.filter {
    padding: 0 4px;
}

.main-content {
    margin: 0 auto;
    min-height: 31.25rem;
}

.image-grid {
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: .937rem;
}

.img-preview {
    align-items: center;
    justify-items: center;
    width: 100%;
}

.card-img {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border: 1px solid #000;
}

.prev-page, .next-page, .num-pages {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 10px;
}

.prev-page, .next-page {
    outline: none;
}

.num-pages {
    width: 5%;
    background-color: rgb(211, 208, 208);
}