/*#### Main images ####*/

.main-content {
    margin: 0 auto;
    min-height: 80vh;
}

.image-grid {
    grid-template-columns: repeat(auto-fill, minmax(9.375em, 1fr));
    gap: .937em;
}

.image-grid, .prev-page, .next-page, .num-pages {
    margin-bottom: 3rem;
}

.img-preview {
    align-items: center;
    justify-items: center;
}

.card-img {
    width: 9.375em;
    height: 9.375em;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border: 1px solid #000;
}

.card-img:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .75);
}

.prev-page, .next-page, .num-pages {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 10px;
}

.prev-page, .next-page {
    outline: none;
}

.num-pages {
    width: 5%;
    background-color: rgb(211, 208, 208);
}

@media (min-width: 390px) {
    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
        gap: .937em;
    }
    .card-img {
        width: 12.5em;
        height: 12.5em;
    }
}