@import url("fonts.css");
@import url("helpers.css");
@import url("base.css");
@import url("header.css");
@import url("filter.css");
@import url("images.css");
@import url("footer.css");
@import url("canvas.css");
@import url("myMemes.css");
/*#### LAYOUT ####*/

.btn {
    cursor: pointer;
}

.btn:active {
    position: relative;
    bottom: 2px;
}

.btn:hover {
    box-shadow: inset 2px 2px 5px 0px #000000
}

.show {
    transform: translateY(0);
}

@media (min-width: 640px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }
}